###############################################################################
## PVE cluster - API connection & auth
###############################################################################
pve_cluster_token_id     = "YOUR_PVE_TOKEN_ID"
pve_cluster_token_secret = "YOUR_PVE_TOKEN_SECRET"
pve_cluster_password     = "YOUR_PVE_PASSWORD"


###############################################################################
## PVE cluster - user configuration
###############################################################################
pve_cluster_user_passwords = {
  alice       = "YOUR_ALICE_PASSWORD"
  bob         = "YOUR_BOB_PASSWORD"
  ups_monitor = "YOUR_UPS_MONITOR_PASSWORD"
}


###############################################################################
## PVE cluster - ACME configuration
###############################################################################
pve_cluster_acme_cf_token      = "YOUR_CLOUDFLARE_API_TOKEN"
pve_cluster_acme_cf_zone_id    = "YOUR_CLOUDFLARE_ZONE_ID"
pve_cluster_acme_cf_account_id = "YOUR_CLOUDFLARE_ACCOUNT_ID"


###############################################################################
## PVE cluster - PBS storage configuration
###############################################################################
pve_cluster_pbs_passwords = {
  pbs-primary = "YOUR_PBS_BACKUP_PASSWORD"
}
pve_cluster_pbs_fingerprints = {
  pbs-primary = "AA:BB:CC:..."  # only needed for self-signed certs
}


###############################################################################
## PVE node - core configuration
###############################################################################
pve_node_core_subscription_keys = {
  node1 = "YOUR_SUBSCRIPTION_KEY"
}


###############################################################################
## Cloud-Init configurations
###############################################################################
ci_secrets = {
  ## Omni docker stack configuration
  omni_bootstrap_conf = {
    ## Certificate issuer (lego)
    acme_cf_token = "YOUR_CLOUDFLARE_API_TOKEN"
    ## Omni container stack configuration
    omni_account_uuid  = "YOUR_OMNI_ACCOUNT_UUID"
    omni_initial_users = "YOUR_OMNI_INITIAL_USERS"
    auth0_client_id    = "YOUR_AUTH0_CLIENT_ID"
    auth0_issuer       = "YOUR_AUTH0_ISSUER"
    ## Docker volume backup container stack configuration
    pushover_token = "YOUR_PUSHOVER_TOKEN"
    pushover_user  = "YOUR_PUSHOVER_USER"
  }

  ## PBS bootstrap configuration
  pbs_bootstrap_conf = {
    ## PBS root password
    pbs_root_password = "YOUR_PBS_ROOT_PASSWORD"
    ## PBS initial & backup user
    pbs_initial_username = "YOUR_PBS_INITIAL_USERNAME"
    pbs_initial_password = "YOUR_PBS_INITIAL_PASSWORD"
    pbs_backup_username  = "YOUR_PBS_BACKUP_USERNAME"
    pbs_backup_password  = "YOUR_PBS_BACKUP_PASSWORD"
    ## Homepage read-only monitoring user
    pbs_homepage_username = "YOUR_PBS_HOMEPAGE_USERNAME"
    pbs_homepage_password = "YOUR_PBS_HOMEPAGE_PASSWORD"
    ## Metrics user
    pbs_metrics_username = "YOUR_PBS_METRICS_USERNAME"
    pbs_metrics_password = "YOUR_PBS_METRICS_PASSWORD"
    ## ACME Cloudflare DNS plugin
    acme_cf_account_id = "YOUR_CLOUDFLARE_ACCOUNT_ID"
    acme_cf_zone_id    = "YOUR_CLOUDFLARE_ZONE_ID"
    acme_cf_token      = "YOUR_CLOUDFLARE_API_TOKEN"
  }
}
